.red {
    background-color: red;
}
.green {
    background-color: greenyellow;
}
.blue {
	background-color: blue;
}
.pink {
	background-color: pink;
}
.yellow {
	background-color: yellow;
}
.orange {
	background-color: orange;
}
ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}
#block:not(.active) {
	display: none;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	width: 40px;
	height: 40px;
}
.link {
	position: relative;
	margin: 20px;
}
.link::after {
	position: absolute;
	bottom: 130%;
	left: -50%;
	content: attr(href);
	color: gray;
	bottom: 10px;
	visibility: hidden;
}
.link:hover::after {
	visibility: visible;
}
#elem {
	width: 300px;
	height: 150px;
	margin: 50px auto;
	padding: 25px;
	background: #CFF5BF;
	border: 25px solid #F0D7A1;
	overflow: auto;
	text-align: justify;
}

.visi {
	visibility: hidden;
}